@inherits LayoutComponentBase

<div class="page">
      <div class="sidebar">
        <NavMenu />
    </div>
  
    <main>
        <article class="content px-4">
            @Body
        </article>

        <footer>
            <P style="font-size: 0.8rem;">
                coded by <span id="tag">this.me</span>
            </P>
        </footer>
       
    </main>
   
</div>
