

.shoppingCard {
    margin: auto auto 0 auto;
    width: 90%;
    min-height: 80vh;
    background-color: #fff;
    text-align: center;
    padding: 0;
    border-radius: 20px;
    color: #222;
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.5);
}


.shoppingCard h1 {
    font-size: 2.5rem;
    opacity: 0.9;
    padding: 0.75rem 0;
    text-align: center;
}

form{
    width:80%;
    margin: auto;

}

.shoppingCard i {
    margin-left: 10px;
    font-size: 1.6rem;
    color: orangered;
}

#quill {
    color: orangered;
    height: 80%;
    margin-right: 0.5rem;
    transform: rotateY(180deg);
    vertical-align: middle;
}

.spin {
    animation: spin 0.5s linear infinite;
}

.inputField {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}

input[type="text"] {
    text-decoration: none !important;
    width:60%; 
    padding: 0.5rem 2rem; 
    outline: 2px ridge rgb(200, 69, 0);
    border: 0;
    border-radius: 2rem; 
    font-size: 1rem;
}

.delBtn {
   
    border: 2px solid #000;
    background: none;
    color: orangered;
    margin: 0 0.5rem;
    padding: 0;
    align-items: center;
    vertical-align: middle;

}


.list {
    width: 80%;
    margin: 10px auto;
    font-size: 2rem;
    list-style-type: none;
    text-align:left;
}

.itemRow {
    display: flex;
    align-items: center !important;
    width: 100%;
    text-decoration: none;
  
}

 

@keyframes spin {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}
