@page "/card"

<div style="width:80%; height:80vh; background-color:#fff; margin: 10px auto; text-align:center; border-radius: 20px; color: #222;  box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.5);">
	<h1 style="font-size: 2.5rem; opacity: 0.9; margin-top: 1em; padding-bottom: 10px; text-align: center;">
		Shopping List
	</h1>
	<input style="width:60%" />
</div>



@code
{

}