@page "/card"
@using ShoppingList.Data



<div class="shoppingCard" >
	<h1>
		Shopping List
	</h1>
	<form @onsubmit=AddItem>
	<div class="inputField">
		<i id="quill" class="fa-solid fa-feather-pointed fa-2x"></i>
		<input type="text" placeholder="what do you need?"  @bind="newItem" autofocus style="width:60%; padding: 0.5rem 2rem; outline: 2px ridge rgb(200, 69, 0);border: 0; border-radius: 2rem; font-size: 1rem;" />
			<button id="delBtn"><i class="fa fa-times fa-2x"></i></button>
		
	</div>
	</form>
	<br />
	<div class="list">
		<ul>
			@foreach (var item in items)
			{
				<li>@item.Item</li>
			}
		</ul
	</div>
</div>



@code
{
	List<ShoppingListItem> items = new List<ShoppingListItem>();
	string newItem;

	void AddItem()
	{
		if (string.IsNullOrWhiteSpace(newItem))
			return;

		items.Add(new ShoppingListItem
		{
			Item = newItem
		});

		newItem = string.Empty;
	}
}